<style>
  #user-chat-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 320px;
    width: 280px;
    border: 2px solid black;
  }

  #chat-message-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: wheat;
    overflow: auto;
  }
  #chat-message-list .other-message {
    text-align: left;
    padding: 5px;
  }

  #chat-message-list .other-message span {
    display: inline-block;

    padding: 15px;
    background-color: aqua;
  }

  .self-message {
    text-align: right;
    padding: 5px;
  }
  .self-message span {
    display: inline-block;
    padding: 15px;
    background-color: yellowgreen;
  }

  #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
  }
  #chat-message-input-container #chat-message-input {
    height: 50%;
    width: 80%;
  }
  #send-mesasage {
    height: 2.4rem;
    width: 3rem;
    background-color: brown;
  }
</style>

<div id="user-chat-box">
  <ul id="chat-message-list">
    <li class="other-message">
      <span>other message </span>
    </li>
    <li class="self-message">
      <span>other message </span>
    </li>
  </ul>

  <div id="chat-message-input-container">
    <input id="chat-message-input" placeholder="Type message Here" />
    <button id="send-mesasage">Send</button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="../static/js/chat_engine.js"></script>
<script>
  new ChatEngine("user-chat-box", "aditya@gmail.com");
</script>
